#content {
  width:900px;
  margin:0 auto;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.picture{
  margin:0 auto;
}
h1 {
  font-family: Helvetica, sans-serif;
  font-size:24px

}

p {
  font-family: Georgia, serif;
  font-size:13px;

}

figcaption {
  font-family: Georgia, serif;
  font-size:13px;
}

blockquote {
  font-family: Georgia, serif;
  font-size:20px;
  color: #344994;
  font-style: italic;
}
