#content {
  width:900px;
  margin:0 auto;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size:24px

}

p {
  font-family: Georgia, serif;
  font-size:13px;

}
